* {
    margin: 0;
}

#bell {
    position: fixed;
    top: 0px;
    left: 0;
}

#slide {
    position: fixed;
    left: 0;
    top: 0px;
}

.sadtrombone {
    animation-name: slide;
    animation-duration: 2s;
}

@keyframes slide {
    from {
        left: 10%;
    }
    to {
        left: 37%;
    }
}

#trombone {
    cursor: pointer;
}
*/
body {
    height: 100vh;
} */
