* {
    margin: 0;
    padding: 0;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
    flex-basis: 20%;
    justify-content: space-evenly;
}

.item-wrapper {
    width: 200px;
    height: 200px;
    margin: auto;
}

img.picture {
    background-color: #6e6e6e;
}
