.gallery {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
    flex-basis: 20%;
    justify-content: space-evenly;
}

img .picture {
    background-color: #6e6e6e;
}
