* {
    margin: 0;
    padding: 0;
}

.gallery {
    justify-content: center;
    flex-flow: row wrap;
}

.item-wrapper {
    display: inline-flex;
    margin: auto;
    flex-direction: row;
    justify-content: center;
    width: 300px;
    background-color: #333333;
    height: 300px;
    align-content: space-around;
}

img.picture {
    background-color: #6e6e6e;
    max-width: 300px;
    max-height: 300px;
    margin: auto;
}
