button {
    background-color: transparent;
    border-color: transparent;
}

td {
    font-weight: bold;
    font-family: monospace;
    font-size: 30px;
}

li {
    font-weight: bold;
    font-family: monospace;
    font-size: 20px;
}

th {
    font-weight: bold;
    font-family: monospace;
    font-size: 30px;
}

h1 {
    font-weight: bold;
    font-family: monospace;
    font-size: 50px;
}

h2 {
    font-weight: bold;
    font-family: monospace;
    font-size: 40px;
}

p {
    font-weight: bold;
    font-family: monospace;
    font-size: 20px;
}

p.ppm {
    color:#f04937;
}

p.ppm:hover {
    color: #37def0;
}

h3.ppm {
    color: #f04937;
}

h3.ppm:hover {
    color: #366124;
}

h3 {
    font-weight: bold;
    font-family: monospace;
    font-size: 30px;
}

h4 {
    font-weight: bold;
    font-family: monospace;
    font-size: 25px;
}

span {
    color: black;
}

u {
    color: #f04937;
    text-decoration: underline;
}

div {
    font-weight: bold;
    font-family: monospace;
    font-size: 20px;
    color: #757575;
}

u:hover {
    color: black;
    text-decoration: none;
}

a:link {
    color: #f04937;
    text-decoration: underline;
}

a:hover {
    color: black;
    text-decoration: none;
}

a:visited {
    color: #f04937;
    text-decoration: underline;
}

a:visited:hover {
    color: black;
    text-decoration: none;
}
