button {
    background-color: transparent;
    border-color: transparent;
}

h1 {
    font-weight: bold;
    font-family: monospace;
}

p {
    font-weight: bold;
    font-family: monospace;
}

h4 {
    font-weight: bold;
    font-family: monospace;
}