.full-width {
    width: 100%;
}

html, body {
    margin: 0;
    padding: 0;
}

.parallax {
    background-image: url("../../perm-resources/images/m33.jpg");
    background-attachment: fixed;
}

button {
    background-color: transparent;
    border-color: transparent;
}

td {
    font-weight: bold;
    font-family: monospace;
    font-size: 30px;
}

li {
    font-weight: bold;
    font-family: monospace;
    font-size: 20px;
}

th {
    font-weight: bold;
    font-family: monospace;
    font-size: 30px;
}

h1 {
    font-weight: bold;
    font-family: monospace;
    font-size: 50px;
}

h2 {
    font-weight: bold;
    font-family: monospace;
    font-size: 40px;
}

p {
    font-weight: bold;
    font-family: monospace;
    font-size: 20px;
    color: black;
}

h3 {
    font-weight: bold;
    font-family: monospace;
    font-size: 30px;
}

h4 {
    font-weight: bold;
    font-family: monospace;
    font-size: 25px;
}

span {
    color: black;
}

u {
    color: #f04937;
    text-decoration: underline;
}

div {
    font-weight: bold;
    font-family: monospace;
    font-size: 20px;
    color: #757575;
}

u:hover {
    color: black;
    text-decoration: none;
}

a:link {
    color: #f04937;
    text-decoration: underline;
}

a:hover {
    color: black;
    text-decoration: none;
}

a:visited {
    color: #f04937;
    text-decoration: underline;
}
