@import url('https://fonts.googleapis.com/css?family=Inconsolata|Montserrat');

* {
  margin: 0;
  padding: 0;
}

div.dark-blue-fill {
  padding-top: 5vw;
  padding-bottom: 5vw;
}

.dark-blue-fill > p, .dark-blue-fill > h3 {
  background-color: #f0493733;
}

.grey {
  color: #999999;
}

.pink {
  color: #f04937;
}

.white {
  color: #ffffff;
}

.dark-blue-fill {
  background-image: url("../../../../perm-resources/images/m33.jpg");
  background-attachment: fixed;
  background-position: top;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

h1 {
  color: #f04937;
  font-size: 3em;
  margin-bottom:  2vw;
}

h3 {
  font-size: 1.5em;
  margin-bottom: 1vw;
}

p {
  font-size: 1em;
  margin-bottom: 1vw;
  display: inline-block
}

.infooter {
  margin: 0;
  width: 100%
}

.fakelink, a {
  color: #f04937;
  text-decoration: underline;
}

.fakelink:hover, a:hover, a:visited:hover, .infooter a:visited:hover {
  color: black;
  text-decoration: none;
}

.infooter .fakelink, .infooter a {
  color: #432400;
}

.infooter .fakelink:hover, .infooter a:hover {
  color: black;
  text-decoration: none;
}

.infooter a:visited {
  color: #432400;
  text-decoration: none;
}

a:visited {
  color: #f04937;
  text-decoration: none;

}

.section {
  width: 60%;
  padding-right: 20%;
  padding-left: 20%;
  text-align: left;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 5vw;
}

.page {
  width: 100%;
  display: inline-block;
  
  margin-top: 10vw;
  margin-bottom: 4vw;
}

img {
  width: 60vw;
}

.width-10 {
  width: 10vw;
}

.width-20 {
  width: 20vw;
}

.width-30 {
  width: 30vw;
}

.width-40 {
  width: 40vw;
}

.width-50 {
  width: 50vw;
}

.width-60 {
  width: 60vw;
}

body {
  text-align: center;
  font-family: Inconsolata, monospace;
}

.audiobutton {
  background-color: transparent;
  border-color: transparent;
}

.infooter {
  background-color: #E4B47B;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
