@import url('https://fonts.googleapis.com/css?family=Inconsolata|Montserrat');

* {
  margin: 0;
  padding: 0;
}

.fakelink, a {
  color: #f04937;
  text-decoration: underline;
}

.fakelink:hover, a:hover, a:visited:hover, .infooter a:visited:hover {
  color: black;
  text-decoration: none;
}

.infooter .fakelink, .infooter a {
  color: #432400;
}

.infooter .fakelink:hover, .infooter a:hover {
  color: black;
  text-decoration: none;
}

.infooter a:visited {
  color: #432400;
  text-decoration: none;
}

a:visited {
  color: #f04937;
  text-decoration: none;

}

.page {
  width: 60vw;
  display: inline-block;
  text-align: left;
}

img {
  width: 60vw;
}

body {
  text-align: center;
  font-family: Inconsolata, monospace;
}

.audiobutton {
  background-color: transparent;
  border-color: transparent;
}

.infooter {
  background-color: #E4B47B;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
